@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;600&family=Roboto:wght@400&display=swap");
$primary-color: #242526;
$primary-text-color: #fff;
$primary-font: "Ubuntu", sans-serif;
$secondary-color: #007fff;

@mixin image-center($url) {
 background-image: url(unquote($url));
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
}
body::-webkit-scrollbar {
 width: 0.25em;
 background-color: rgba(255, 255, 255, 0.2);
}
body::-webkit-scrollbar-track {
 box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
 background-color: white;
 outline: 1px solid #708090;
}
* {
 box-sizing: border-box;
 scroll-behavior: smooth;
 font-family: $primary-font;
}
body {
 background-color: #242526 !important;
 color: $primary-text-color;
}

/*** Common Things ***/
.dn {
 display: none;
}
mark {
 border-radius: 0.4rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
 font-weight: 500;
}
.textsvg {
 fill: white !important;
}
.title {
 position: relative;
 margin: 30px 0 19px 30px;
 &:before {
  content: "";
  display: block;
  position: absolute;
  left: -20px;
  width: 6px;
  height: 30px;
  background-color: #e92f2f;
 }
}
.break {
 display: block;
 visibility: hidden;
 width: 100%;
 height: 150px;
}

/*** Navbar ***/
.navbar {
 height: 65px;
 background-color: rgba($primary-color, 0.8);
 backdrop-filter: blur(20px);
 -webkit-backdrop-filter: blur(20px);
 position: sticky;
 top: 0;
 left: 0;
 z-index: 10000000;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 .navbar-brand img {
  border-radius: 0.2rem;
  object-fit: cover;
 }
 .dropdown-menu {
  .dropdown-item {
   padding: 0.5rem 1rem;
  }
 }
 .dropdown {
  img {
   transform: scaleX(1.4);
  }
 }
 ul {
  padding: 0 !important;
 }
 a {
  font-family: Roboto;
  text-decoration: none;
  color: inherit;
 }
 .desktop a {
  padding: 0.4rem 1rem;
  border-radius: 100rem;
 }
 .desktop a.active {
  border: 1px solid rgba($primary-text-color, 0.4);
 }
}

main {
 padding-bottom: 50px;
 background-color: $primary-color !important;
 color: $primary-text-color;
}

/*** HOME PAGE ***/
.__home {
 position: relative;
 @include image-center("./assets/images/coding.jpg");
 background-attachment: fixed;
 .__hero-section {
  width: 100%;
  height: fit-content;
  min-height: 95vh;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 20px 40px;
  .intro {
   padding: 85px 0;
   h2 {
    font-size: 3.5rem;
    margin-bottom: 0;
   }
   p {
    font-size: 1rem;
    line-height: 38px;
    width: 60%;
    margin-top: 50px !important;
   }
   a {
    margin-top: 40px;
   }
   .badge {
    background-color: $primary-color;
    color: $primary-text-color;
   }
  }
 }
 .posts-a {
  padding: 20px;
  a {
   color: inherit;
   text-decoration: none;
  }
  .post {
   position: relative;
   img {
    max-height: 300px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    &:hover {
     border: 1.5px solid white;
     opacity: 0.4;
    }
   }
   img:first-child {
    object-position: 0 30%;
   }
   .body {
    p {
     width: 100%;
     background-color: $secondary-color;
     padding: 15px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     span:last-child {
      display: block;
      padding: 4px 0;
      font-size: 13px;
      color: #969696;
     }
    }
   }
  }
 }
 .seeMore {
  button {
   width: 100%;
   height: 100%;
   background-color: $secondary-color;
   color: $primary-text-color;
   font-size: large;
  }
 }
 .parallax {
  background-image: url("../images/interface/e-2-blur.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .features {
  width: 100%;
  padding: 90px 20px 40px 20px;
  background-color: rgba($primary-color, 0.4);
  border-radius: 0.8rem;
  @include image-center("../images/interface/banner.jpg");
  margin: 20px 0;
  row-gap: 12px;
  section {
   border: 2px dashed #fff;
   padding: 15px 0 30px 0;
   border-radius: 0.3rem;
   margin-bottom: 25px;
   p {
    margin: 0;
    padding: 0 10px;
    color: #c0c0c0;
    font-size: 0.85rem;
   }
   img {
    width: 78px;
    height: 78px;
    padding: 18px;
    border-radius: 1rem;
    object-fit: contain;
    background-color: #fff;
    margin-top: -100px;
   }
  }
  section:first-child {
   border-color: rgb(250, 133, 114);
   img {
    background-color: rgb(250, 133, 114);
   }
  }
  section:nth-child(2) {
   border-color: rgb(178, 73, 104);
   img {
    background-color: rgb(178, 73, 104);
   }
  }
  section:last-child {
   border-color: rgb(66, 133, 244);
   img {
    background-color: rgb(66, 133, 244);
   }
  }
 }
 .count {
  width: 100%;
  padding: 40px 20px 40px 20px;
  background-color: rgba($primary-color, 0.4);
  border-radius: 0.8rem;
  @include image-center("../images/interface/coverphoto-blur.jpg");
  margin: 20px 0;
  row-gap: 12px;
  section {
   h2 {
    font-weight: bolder;
   }
   p {
    color: #333;
    background-color: #fff;
    padding: 4px 10px;
    width: fit-content;
    border-radius: 0.4rem;
    margin: 0 auto;
   }
  }
 }
 .skills,
 .experience,
 .education,
 .certifications,
 .publications,
 .awards,
 .languages {
  width: 100%;
  padding: 20px 40px;
  background-color: rgba($secondary-color, 0.4);
  border-radius: 0.3rem;
  margin: 20px 0;
 }
 .box {
  img {
   width: 40px;
   height: 40px;
   border-radius: 0.3rem;
  }
  .details {
   width: 100%;
   padding: 0 30px;
   h3 {
    font-size: 18px;
    margin-bottom: 2px;
   }
   p {
    font-size: 14px;
    margin-bottom: 4px;
   }
   span {
    display: block;
    color: #b1b1b1;
    font-size: 12px;
   }
  }
 }
 .certifications,
 .publications,
 .education {
  a {
   margin-top: 10px;
  }
 }
 .publications {
  img {
   width: 45px;
   height: 67.5px;
  }
 }
 .skills {
  li {
   padding: 8px 0;
   list-style-type: square;
  }
 }
 .workedwith {
  margin-top: 20px;
  .wrapper {
   display: flex;
   width: 100%;
   margin: 0 auto;
   overflow: hidden;
   padding: 1rem;
  }
  .item {
   margin: 0 10px;
   animation: animate 25s alternate linear infinite;
   img {
    height: 55px;
    border-radius: 0.5rem;
   }
  }
  .container:hover .item {
   animation-play-state: paused;
  }
  @keyframes animate {
   0% {
    transform: translate3d(0, 0, 0);
   }
   100% {
    transform: translate3d(-1100px, 0, 0);
   }
  }
  @media (max-width: 767px) {
   .wrapper {
    width: 95%;
    border-radius: 0;
    padding: 0;
   }
  }
 }
 .showme {
  background-color: rgba($secondary-color, 0.4);
  .carousel {
   .carousel-item {
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 12px;
    img {
     width: 48px;
     height: 48px;
     border-radius: 100rem;
     border: 2px solid rgba(255, 255, 255, 0.5);
     padding: 10px;
     margin-bottom: 10px;
    }
    p {
     color: #c0c0c0;
    }
   }
   .carousel-item > div:first-child {
    padding: 50px;
    border-radius: 0.3rem;
   }
  }
 }
}

/*** WORKS PAGE ***/
.works {
 .break {
  height: 100px;
 }
 .banner {
  width: 100%;
  height: 250px;
  @include image-center("../images/interface/coverphoto.jpg");
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
 }
 .title {
  padding: 20px 0;
 }
 .project-container-a,
 .project-container-g {
  p {
   width: 100%;
   background-color: $secondary-color;
   padding: 10px;
  }
  .row div img {
   width: 100%;
   border: 1px dashed rgba(255, 255, 255, 0.15);
   &:hover {
    border: 1.5px dashed white;
    opacity: 0.6;
   }
  }
 }
 .project-container-c,
 .project-container-b {
  iframe {
   width: 100%;
   height: 100%;
   min-height: 215px;
   border: none;
  }
 }
 .project-container-f {
  .row:first-child iframe {
   width: 100%;
   height: 100%;
   min-height: 415px;
   border: none;
  }
  .row:last-child iframe {
   width: 100%;
   height: 100%;
   min-height: 215px;
   border: none;
  }
 }
 .project-container-d,
 .project-container-e {
  .special img {
   height: 85% !important;
  }
  .row div img {
   border: 1px dashed rgba(255, 255, 255, 0.15);
   width: 100%;
   height: 100%;
   object-fit: cover;
   &:hover {
    border: 1.5px dashed white;
    opacity: 0.6;
   }
  }
 }
 .project-container-g {
  img {
   height: 100%;
   object-fit: cover;
  }
  span {
   display: block;
   height: 0px !important;
   visibility: hidden;
  }
 }
}

/*** ABOUT PAGE ***/
.about {
 .title {
  margin-left: 0;
 }
 .card-text {
  font-size: 0.9rem;
  line-height: 1.7rem;
 }
 .opinion {
  padding: 0 10px;
  .opinion-list {
   padding: 0 10px;
   .item {
    height: min-content;
    border-radius: 2rem;
    background-color: #fff;
    color: #000;
    align-items: center;
    cursor: pointer;
    div:last-child {
     padding: 20px;
    }
    a {
     color: inherit;
     text-decoration: none;
    }
    b {
     color: blue !important;
     text-decoration: underline;
    }
    h4 {
     font-weight: bolder;
     font-size: 1rem;
    }
    span {
     display: block;
     height: 0px !important;
     visibility: hidden;
    }
    p {
     font-size: 0.9rem;
     height: 44px;
     overflow: hidden;
    }
   }
   img {
    width: 100px;
    height: 100px;
    border-radius: 100rem;
    border: 8px solid #eee;
    object-fit: cover;
   }
  }
 }
 .media-links {
  padding-top: 10px;
  a {
   display: inline-block;
   margin: 10px !important;
   &:hover {
    opacity: 0.5;
   }
  }
  a img {
   width: 35px;
   height: 35px;
  }
 }
}

/*** CUSTOM RESPONSIBILITY ***/
@media (hover: none) {
 body {
  background-attachment: initial;
 }
}
@media screen and (min-width: 1500px) {
 .first {
  .intro {
   padding-top: 150px !important;
   p {
    padding-top: 20px;
   }
  }
 }
 .navbar {
  height: 75px;
 }
}
@media screen and (min-width: 993px) {
 .home {
  padding-top: 10px;
  .box {
   img {
    width: 60px;
    height: 60px;
   }
   h3 {
    font-size: 25px;
   }
   p {
    font-size: 18px;
   }
   span {
    font-size: 14px;
   }
  }
  .showme {
   .carousel .carousel-item {
    font-size: 18px;
    img {
     width: 78px;
     height: 78px;
    }
   }
  }
  .publications {
   img {
    width: 80px;
    height: 120px;
   }
  }
 }
 .works {
  .project-container-d {
   .special img {
    height: 70% !important;
   }
  }
 }
 .offcanvas {
  width: 50vw;
  margin: 0 auto;
 }
}
@media screen and (max-width: 993px) {
 .count {
  h2 {
   font-size: 1.2rem;
  }
  p {
   font-size: 0.8rem;
  }
 }
}
@media screen and (max-width: 700px) {
 .first {
  .intro {
   padding: 100px 20px 120px 20px;
   text-align: center;
   h2 {
    font-size: 2.3rem;
    margin-bottom: 5px;
   }
   p {
    font-size: 0.9rem;
    line-height: 30px;
    width: 100%;
   }
  }
 }
 .break {
  height: 50px;
 }
}
@media screen and (max-width: 500px) {
 #switch_btn {
  text-align: left !important;
  padding-left: 10px !important;
 }
 .features {
  h5 {
   font-size: 1rem;
  }
  p {
   font-size: 0.7rem !important;
  }
 }
 .count p {
  font-size: 0.6rem;
 }
 .certifications,
 .publications,
 .education,
 .experience,
 .awards,
 .languages {
  h3 {
   font-size: 0.8rem !important;
  }
  p {
   font-size: 0.6rem !important;
  }
  a {
   font-size: 0.6rem !important;
  }
 }
 .about {
  padding: 5px 15px;
 }
}
@media screen and (max-width: 400px) {
 .first {
  .intro {
   h2 {
    font-size: 2rem;
   }
   p {
    font-size: 0.7rem;
   }
  }
 }
}

/*** FOOTER & Others ***/
footer {
 background-color: rgba($primary-color, 0.5);
 color: $primary-text-color;
}
#modalMain,
#modalForPress {
 z-index: 10000001;
 border-radius: 1rem 1rem 0 0;
 width: 100%;
 .title-post {
  margin: 0;
 }
 img {
  width: 100%;
  max-width: 400px;
  border: 1px dashed #fff;
  object-fit: cover;
 }
}
#modalForPress {
 li {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  div {
   padding: 15px 15px 15px 25px;
   h4 {
    font-size: 1rem;
    margin-bottom: 5px;
   }
  }
 }
 img {
  width: 200px !important;
  border-radius: 0.3rem;
  aspect-ratio: 16 / 9;
  object-fit: cover;
 }
}
@media screen and (max-width: 500px) {
 #modalForPress {
  li {
   flex-direction: column;
   div {
    padding-left: 5px;
   }
   img {
    width: 100% !important;
   }
   h4 {
    font-size: 0.7rem;
   }
  }
 }
}
